In [1]:
import numpy as np
import pandas as pd
import math
import time
import multiprocessing
import json
from bs4 import BeautifulSoup

Создайте матрицу 3x3 со значениями от 0 до 8

In [2]:
# создаем матрицу 3x3 со значениями от 0 до 8
matrix = np.arange(9).reshape((3, 3))

# выводим матрицу на экран
print(matrix)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

Необходимо найти все целые числа от 1 до 400 000, для которых sin от этого числа будет иметь не менее 9 одинаковых цифр (например, sin(139198)=0.30763333543133703; sin(139198)=0.30763333543133703 т.е. имеет 9 троек). Ответ представляет собой список пар (целое число, значение синуса для него), для которых значение синуса удовлетворяет условию. Решение этой задачи распараллелить, используя multiprocessing Pool. Сравнить продолжительность последовательного и параллельного решения задачи.

In [1]:
#Последовательное решение
import math
import time

def check_sin(n):
    sin_n = math.sin(n)
    sin_str = str(sin_n).replace('.', '')
    for i in range(10):
        if str(i) * 9 in sin_str:
            return (n, sin_n)
    return None
# `check_sin` принимает целое число `n`, вычисляет его синус с помощью функции `sin` из модуля `math`,
# и проверяет, имеет ли значение синуса не менее 9 одинаковых цифр. Если значение синуса удовлетворяет условию,
# функция возвращает пару `(n, sin_n)`, иначе возвращает `None`.

start_time = time.time()

results = []
for n in range(1, 400001):
    result = check_sin(n)
    if result is not None:
        results.append(result)
# Запускаем цикл от 1 до 400000 и для каждого числа вызываем функцию `check_sin`.
# Если функция возвращает результат, мы добавляем его в список `results`.

end_time = time.time()

print(f'Found {len(results)} results in {end_time - start_time:.2f} seconds.')
print(results)

Found 12 results in 1.36 seconds.
[(51819, 0.999999999696513), (52174, -0.9999999999848337), (52529, 0.9999999993644724), (155812, 0.9999999990422608), (156167, -0.9999999999072229), (156522, 0.9999999998635031), (260160, -0.9999999994636807), (260515, 0.9999999999966023), (260870, -0.9999999996208419), (364508, 0.99999999976377), (364863, -0.999999999964651), (365218, 0.99999999925685)]

In [ ]:
import math
import multiprocessing
import time

def check_sin(n):
    sin_n = math.sin(n)
    sin_str = str(sin_n).replace('.', '')
    for i in range(10):
        if str(i) * 9 in sin_str:
            return (n, sin_n)
    return None

start_time = time.time()

with multiprocessing.Pool(processes=1) as pool:
    results = pool.map(check_sin, range(1, 400001))
# создаем пул процессов с помощью класса `Pool`. Затем мы используем метод `map` для вызова функции `check_sin` 
# для каждого числа от 1 до 400000. Метод `map` автоматически распределяет вычисления между процессами.
results = [result for result in results if result is not None]
# фильтруем результаты, удаляя `None`, и выводим количество найденных результатов и время выполнения программы
end_time = time.time()

print(f'Found {len(results)} results in {end_time - start_time:.2f} seconds.')

In [1]:
import math
from joblib import Parallel, delayed
import numpy as np

# функция для проверки, имеет ли число sin с 9 одинаковыми цифрами
def check_sin(i):
    sin_i = math.sin(i)
    digits = [int(d) for d in str(abs(int(sin_i * 10**9)))]
    for j in range(10):
        if digits.count(j) >= 9:
            return (i, sin_i)
    return None

# параллельное решение с помощью joblib
results_par = Parallel(n_jobs=-1)(delayed(check_sin)(i) for i in range(1, 400001))
results_par = [res for res in results_par if res is not None]

# вывод результатов
print('Результаты:')
for res in results_par:
    print(res)

Результаты:
(51819, 0.999999999696513)
(52174, -0.9999999999848337)
(52529, 0.9999999993644724)
(155812, 0.9999999990422608)
(156167, -0.9999999999072229)
(156522, 0.9999999998635031)
(260160, -0.9999999994636807)
(260515, 0.9999999999966023)
(260870, -0.9999999996208419)
(364508, 0.99999999976377)
(364863, -0.999999999964651)
(365218, 0.99999999925685)

Как найти общие значения между двумя массивами?

In [13]:
arr1 = [1, 2, 3, 4, 5]
arr2 = [3, 4, 5, 6, 7]

set1 = set(arr1)
set2 = set(arr2)

common = set1.intersection(set2)

print(list(common))

[3, 4, 5]

Создать двумерный массив 30 на 4, содержащий случайные целые числа от 0 до 100. Интерпретируя массив как 30 векторов из 4х компонент, вернуть массив 5 на 4, состоящий из векторов с наибольшей длиной (евклидовой нормой).Решить задачу средствами numpy и/или pandas. Не использовать циклы и конструкции стандартного Python там, где можно использовать возможности данных библиотек.

In [14]:
# создаем двумерный массив 30 на 4 со случайными целыми числами от 0 до 100
arr = np.random.randint(0, 100, size=(30, 4))

# находим длины векторов и сортируем их по убыванию
norms = np.linalg.norm(arr, axis=1)
sorted_indices = np.argsort(norms)[::-1]

# выбираем первые 5 векторов с наибольшей длиной
result = arr[sorted_indices[:5]]

print(result)

[[84 48 90 94]
 [89 96 91  5]
 [80 76 31 90]
 [96 59 35 83]
 [37 53 82 96]]

Создайте единичную матрицу 3x3

In [15]:
# создаем единичную матрицу 3x3
matrix = np.eye(3)

print(matrix)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

Создайте матрицу шахматной доски 8x8, используя функцию tile

In [16]:
import numpy as np

# создаем матрицу 2x2 для клетки шахматной доски
cell = np.array([[0, 1], [1, 0]])

# создаем матрицу шахматной доски 8x8 с помощью функции numpy.tile
board = np.tile(cell, (4, 4))

print(board)
# В этом примере мы сначала создаем матрицу `cell` размером 2x2, которая представляет собой клетку шахматной доски.
# Затем мы используем функцию `numpy.tile`, чтобы создать матрицу шахматной доски 8x8.
# Функция `numpy.tile` принимает два аргумента: первый аргумент - это матрица, которую мы хотим повторить,
#     а второй аргумент - это кортеж, указывающий, сколько раз мы хотим повторить матрицу по каждому измерению.

# В нашем случае мы передаем матрицу `cell` и кортеж `(4, 4)`, чтобы повторить ее 4 раза по каждому измерению.
# Это создаст матрицу шахматной доски 8x8.

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

Напишите функцию на Python, которая вычисляет сумму квадратов всех чисел в списке размера N, содержащем целые случайно сгенерированные числа. Затем напишите функцию, скомпилированную с помощью Numba, которая выполняет ту же задачу, и сравните время выполнения обеих функций. Сравните скорость при различных N и сделайте вывод.

In [18]:
import random
# определяем функцию `sum_of_squares_python`, которая принимает список `lst` и вычисляет сумму квадратов всех его элементов
# с помощью цикла.
def sum_of_squares_python(lst):
    result = 0
    for x in lst:
        result += x**2
    return result

# генерируем список случайных чисел
lst = [random.randint(0, 100) for _ in range(100000)]

# вычисляем сумму квадратов с помощью чистого Python
result = sum_of_squares_python(lst)

print(result)

334664506

In [5]:
import random
import numba

# мы определяем функцию `sum_of_squares_numba` так же,
# как и в предыдущем примере, но добавляем декоратор `numba.jit` для компиляции функции в машинный код.
@numba.jit(nopython=True)
def sum_of_squares_numba(lst):
    result = 0
    for x in lst:
        result += x**2
    return result

# генерируем список случайных чисел
lst = [random.randint(0, 100) for _ in range(100000)]

# вычисляем сумму квадратов с помощью Numba
result = sum_of_squares_numba(lst)

print(result)

C:\Users\lana\anaconda3\lib\site-packages\numba\core\ir_utils.py:2152: NumbaPendingDeprecationWarning:
Encountered the use of a type that is scheduled for deprecation: type 'reflected list' found for argument 'lst' of function 'sum_of_squares_numba'.

For more information visit https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-reflection-for-list-and-set-types

File "..\..\AppData\Local\Temp\ipykernel_4288\2291316326.py", line 6:
<source missing, REPL/exec in use?>

  warnings.warn(NumbaPendingDeprecationWarning(msg, loc=loc))

335533713

In [20]:
import time

# генерируем список случайных чисел
lst = [random.randint(0, 100) for _ in range(100000)]

# засекаем время выполнения функции на чистом Python
start_time = time.time()
result_python = sum_of_squares_python(lst)
end_time = time.time()
print("Python time:", end_time - start_time)

# засекаем время выполнения функции с Numba
start_time = time.time()
result_numba = sum_of_squares_numba(lst)
end_time = time.time()
print("Numba time:", end_time - start_time)

# проверяем, что обе функции выдают одинаковый результат
assert result_python == result_numba

Python time: 0.020993471145629883
Numba time: 0.13103485107421875

 Дан список целых чисел от 1 до 400 000, найти сумму квадратов каждого целого числа. Решение этой задачи распараллелить, используя multiprocessing Pool. Сравнить продолжительность последовательного и параллельного решения задачи.

In [21]:
import time

# создаем список целых чисел от 1 до 400000
lst = list(range(1, 400001))

# засекаем время выполнения
start_time = time.time()

# вычисляем сумму квадратов каждого числа
result = sum(x**2 for x in lst)

# выводим результат и время выполнения
print("Result:", result)
print("Time:", time.time() - start_time)

Result: 21333413333400000
Time: 0.10016393661499023

In [ ]:
import time
from multiprocessing import Pool

# создаем список целых чисел от 1 до 400000
lst = list(range(1, 400001))

# засекаем время выполнения
start_time = time.time()

# определяем функцию для вычисления квадрата числа
def square(x):
    return x**2

# создаем пул процессов
with Pool() as pool:
    # распределяем вычисления по нескольким процессам
    result = sum(pool.map(square, lst))

# выводим результат и время выполнения
print("Result:", result)
print("Time:", time.time() - start_time)

 Необходимо найти все пары целых чисел от 1 до 3000, для которых sin от произведения чисел из пары будет иметь значение больше 0.99999999 (например, sin(237∗1544)=0.9999999951152019>0.99999999; sin(237∗1544)=0.9999999951152019>0.99999999 ). Ответ представляет собой список пар (целое число1, целое число2, значение синуса для из произведения), для которых значение синуса удовлетворяет условию. Решение этой задачи распараллелить, используя multiprocessing Pool. Сравнить продолжительность последовательного и параллельного решения задачи.

In [1]:
import math
import time

# засекаем время выполнения
start_time = time.time()

# проходим по всем парам чисел от 1 до 3000
results = []
for i in range(1, 3001):
    for j in range(1, 3001):
        # вычисляем произведение и синус
        prod = i * j
        sin_prod = math.sin(prod)
        # проверяем условие
        if sin_prod > 0.99999999:
            results.append((i, j, sin_prod))

# выводим результат и время выполнения
print("Results:", results)
print("Time:", time.time() - start_time)

Results: [(23, 2253, 0.999999999696513), (57, 2746, 0.9999999998635031), (62, 2536, 0.9999999970500172), (69, 751, 0.999999999696513), (91, 2855, 0.9999999980220771), (114, 1373, 0.9999999998635031), (115, 2253, 0.9999999924128237), (124, 1268, 0.9999999970500172), (129, 2025, 0.9999999983363994), (133, 2746, 0.99999999925685), (135, 1935, 0.9999999983363994), (157, 1006, 0.9999999906018032), (158, 2316, 0.9999999951152019), (193, 1896, 0.9999999951152019), (194, 2951, 0.9999999982003109), (209, 2746, 0.9999999981648745), (215, 1215, 0.9999999983363994), (219, 2149, 0.9999999901999105), (222, 2582, 0.9999999999999568), (225, 1161, 0.9999999983363994), (227, 2522, 0.9999999982003109), (237, 1544, 0.9999999951152019), (241, 2807, 0.9999999968696842), (243, 1075, 0.9999999983363994), (248, 634, 0.9999999970500172), (266, 1373, 0.99999999925685), (267, 2531, 0.9999999902820274), (269, 1739, 0.9999999948839151), (271, 2880, 0.999999995173126), (285, 2746, 0.9999999965875765), (288, 2710, 0.999999995173126), (307, 1533, 0.9999999901999105), (311, 1511, 0.9999999968230039), (314, 503, 0.9999999906018032), (316, 1158, 0.9999999951152019), (317, 496, 0.9999999970500172), (320, 2439, 0.999999995173126), (329, 2697, 0.9999999923402456), (345, 751, 0.9999999924128237), (350, 2234, 0.9999999997508212), (360, 2168, 0.999999995173126), (361, 2746, 0.9999999945249561), (382, 2045, 0.9999999992793377), (386, 948, 0.9999999951152019), (387, 675, 0.9999999983363994), (401, 1687, 0.9999999968696842), (405, 645, 0.9999999983363994), (409, 1910, 0.9999999992793377), (417, 2876, 0.9999999977965826), (418, 1373, 0.9999999981648745), (437, 2746, 0.9999999919770133), (443, 2704, 0.9999999985315368), (444, 1291, 0.9999999999999568), (454, 1261, 0.9999999982003109), (455, 571, 0.9999999980220771), (473, 2534, 0.9999999999814237), (474, 772, 0.9999999951152019), (480, 1626, 0.999999995173126), (488, 2027, 0.9999999970949925), (496, 317, 0.9999999970500172), (503, 314, 0.9999999906018032), (509, 2762, 0.9999999957263056), (511, 921, 0.9999999901999105), (524, 2687, 0.9999999960914796), (542, 1440, 0.999999995173126), (556, 2157, 0.9999999977965826), (563, 1571, 0.9999999931106364), (569, 2472, 0.9999999994827584), (570, 1373, 0.9999999965875765), (571, 455, 0.9999999980220771), (576, 1355, 0.999999995173126), (579, 632, 0.9999999951152019), (586, 2754, 0.9999999914573485), (602, 1991, 0.9999999999814237), (607, 773, 0.9999999998113691), (609, 1457, 0.9999999923402456), (612, 2637, 0.9999999914573485), (618, 2276, 0.9999999994827584), (632, 579, 0.9999999951152019), (634, 248, 0.9999999970500172), (645, 405, 0.9999999983363994), (650, 2805, 0.9999999988291063), (651, 1363, 0.9999999923402456), (663, 2750, 0.9999999988291063), (669, 2259, 0.9999999999595361), (675, 387, 0.9999999983363994), (676, 1772, 0.9999999985315368), (687, 1895, 0.9999999973118869), (700, 1117, 0.9999999997508212), (715, 2550, 0.9999999988291063), (719, 1668, 0.9999999977965826), (720, 1084, 0.999999995173126), (722, 1373, 0.9999999945249561), (733, 2913, 0.999999994405293), (750, 2431, 0.9999999988291063), (751, 69, 0.999999999696513), (751, 345, 0.9999999924128237), (752, 2703, 0.9999999994244887), (753, 2007, 0.9999999999595361), (772, 474, 0.9999999951152019), (773, 607, 0.9999999998113691), (778, 2078, 0.9999999939010542), (799, 2544, 0.9999999994244887), (813, 960, 0.999999995173126), (816, 2491, 0.9999999994244887), (818, 955, 0.9999999992793377), (824, 1707, 0.9999999994827584), (825, 2210, 0.9999999988291063), (834, 1438, 0.9999999977965826), (848, 2397, 0.9999999994244887), (850, 2145, 0.9999999988291063), (858, 2125, 0.9999999988291063), (862, 2601, 0.999999993243496), (867, 2586, 0.999999993243496), (868, 2821, 0.9999999990930195), (874, 1373, 0.9999999919770133), (876, 2557, 0.9999999979120855), (879, 1836, 0.9999999914573485), (886, 1352, 0.9999999985315368), (887, 1703, 0.9999999986845285), (891, 2984, 0.999999994998317), (899, 987, 0.9999999923402456), (901, 2256, 0.9999999994244887), (918, 1758, 0.9999999914573485), (921, 511, 0.9999999901999105), (935, 1950, 0.9999999988291063), (941, 1385, 0.9999999988834986), (946, 1267, 0.9999999999814237), (948, 386, 0.9999999951152019), (955, 818, 0.9999999992793377), (960, 813, 0.999999995173126), (961, 2548, 0.9999999990930195), (971, 2199, 0.999999994405293), (975, 1870, 0.9999999988291063), (982, 2920, 0.9999999925522816), (987, 899, 0.9999999923402456), (1006, 157, 0.9999999906018032), (1018, 1381, 0.9999999957263056), (1029, 2887, 0.9999999990913918), (1032, 2978, 0.9999999952879379), (1039, 1556, 0.9999999939010542), (1063, 2599, 0.9999999967286067), (1067, 2393, 0.9999999999989757), (1075, 243, 0.9999999983363994), (1084, 720, 0.999999995173126), (1087, 1581, 0.9999999959902742), (1105, 1650, 0.9999999988291063), (1110, 2582, 0.9999999999989203), (1117, 700, 0.9999999997508212), (1119, 2376, 0.999999994998317), (1122, 1625, 0.9999999988291063), (1128, 1802, 0.9999999994244887), (1129, 1155, 0.9999999942172122), (1137, 1145, 0.9999999973118869), (1138, 1236, 0.9999999994827584), (1138, 2884, 0.9999999971839069), (1145, 1137, 0.9999999973118869), (1155, 1129, 0.9999999942172122), (1158, 316, 0.9999999951152019), (1161, 225, 0.9999999983363994), (1168, 2455, 0.9999999925522816), (1172, 1377, 0.9999999914573485), (1188, 2238, 0.999999994998317), (1202, 2558, 0.9999999997238871), (1215, 215, 0.9999999983363994), (1229, 2842, 0.999999991827411), (1236, 1138, 0.9999999994827584), (1261, 454, 0.9999999982003109), (1267, 946, 0.9999999999814237), (1268, 124, 0.9999999970500172), (1272, 1598, 0.9999999994244887), (1274, 1922, 0.9999999990930195), (1275, 1430, 0.9999999988291063), (1279, 2404, 0.9999999997238871), (1291, 444, 0.9999999999999568), (1291, 2220, 0.9999999999989203), (1293, 1734, 0.999999993243496), (1325, 1769, 0.9999999964929694), (1326, 1375, 0.9999999988291063), (1331, 2857, 0.9999999939052725), (1336, 2769, 0.9999999995198774), (1352, 886, 0.9999999985315368), (1355, 576, 0.999999995173126), (1363, 651, 0.9999999923402456), (1373, 114, 0.9999999998635031), (1373, 266, 0.99999999925685), (1373, 418, 0.9999999981648745), (1373, 570, 0.9999999965875765), (1373, 722, 0.9999999945249561), (1373, 874, 0.9999999919770133), (1375, 1326, 0.9999999988291063), (1377, 1172, 0.9999999914573485), (1381, 1018, 0.9999999957263056), (1385, 941, 0.9999999988834986), (1388, 2967, 0.999999991068884), (1395, 2802, 0.9999999986825684), (1401, 2790, 0.9999999986825684), (1421, 2458, 0.999999991827411), (1430, 1275, 0.9999999988291063), (1437, 2503, 0.9999999940900975), (1438, 834, 0.9999999977965826), (1440, 542, 0.999999995173126), (1442, 2276, 0.9999999971839069), (1457, 609, 0.9999999923402456), (1460, 1964, 0.9999999925522816), (1489, 2064, 0.9999999952879379), (1492, 1782, 0.999999994998317), (1499, 2399, 0.9999999988272569), (1511, 311, 0.9999999968230039), (1518, 2986, 0.99999999798736), (1519, 1612, 0.9999999990930195), (1525, 1537, 0.9999999964929694), (1533, 307, 0.9999999901999105), (1537, 1525, 0.9999999964929694), (1544, 237, 0.9999999951152019), (1551, 2049, 0.9999999984365575), (1556, 1039, 0.9999999939010542), (1571, 563, 0.9999999931106364), (1581, 1087, 0.9999999959902742), (1598, 1272, 0.9999999994244887), (1598, 2968, 0.999999996866661), (1612, 1519, 0.9999999990930195), (1625, 1122, 0.9999999988291063), (1626, 480, 0.999999995173126), (1650, 1105, 0.9999999988291063), (1656, 2612, 0.9999999993839149), (1659, 2293, 0.9999999999482698), (1668, 719, 0.9999999977965826), (1674, 2335, 0.9999999986825684), (1687, 401, 0.9999999968696842), (1703, 887, 0.9999999986845285), (1704, 2171, 0.9999999995198774), (1707, 824, 0.9999999994827584), (1726, 1781, 0.9999999993232765), (1734, 1293, 0.999999993243496), (1739, 269, 0.9999999948839151), (1750, 2234, 0.9999999937705296), (1758, 918, 0.9999999914573485), (1769, 1325, 0.9999999964929694), (1772, 676, 0.9999999985315368), (1781, 1726, 0.9999999993232765), (1782, 1492, 0.999999994998317), (1793, 2994, 0.9999999963905805), (1802, 1128, 0.9999999994244887), (1802, 2632, 0.999999996866661), (1836, 879, 0.9999999914573485), (1846, 2004, 0.9999999995198774), (1859, 2831, 0.9999999998641335), (1870, 975, 0.9999999988291063), (1895, 687, 0.9999999973118869), (1896, 193, 0.9999999951152019), (1904, 2491, 0.999999996866661), (1910, 409, 0.9999999992793377), (1913, 2152, 0.9999999999145581), (1922, 1274, 0.9999999990930195), (1934, 2129, 0.9999999973090852), (1935, 135, 0.9999999983363994), (1937, 2717, 0.9999999998641335), (1949, 2701, 0.9999999945823146), (1950, 935, 0.9999999988291063), (1959, 2208, 0.9999999993839149), (1962, 2417, 0.9999999998218927), (1964, 1460, 0.9999999925522816), (1978, 2082, 0.999999991068884), (1991, 602, 0.9999999999814237), (1998, 2582, 0.9999999999965019), (2004, 1846, 0.9999999995198774), (2007, 753, 0.9999999999595361), (2025, 129, 0.9999999983363994), (2027, 488, 0.9999999970949925), (2045, 382, 0.9999999992793377), (2049, 1551, 0.9999999984365575), (2054, 2410, 0.9999999998121104), (2064, 1489, 0.9999999952879379), (2069, 2796, 0.9999999976377419), (2078, 778, 0.9999999939010542), (2082, 1978, 0.999999991068884), (2125, 858, 0.9999999988291063), (2129, 1934, 0.9999999973090852), (2145, 850, 0.9999999988291063), (2149, 219, 0.9999999901999105), (2152, 1913, 0.9999999999145581), (2157, 556, 0.9999999977965826), (2168, 360, 0.999999995173126), (2171, 1704, 0.9999999995198774), (2199, 971, 0.999999994405293), (2208, 1959, 0.9999999993839149), (2210, 825, 0.9999999988291063), (2219, 2841, 0.9999999961980565), (2220, 1291, 0.9999999999989203), (2233, 2731, 0.9999999912979604), (2234, 350, 0.9999999997508212), (2234, 1750, 0.9999999937705296), (2238, 1188, 0.999999994998317), (2239, 2257, 0.9999999951189769), (2253, 23, 0.999999999696513), (2253, 115, 0.9999999924128237), (2256, 901, 0.9999999994244887), (2257, 2239, 0.9999999951189769), (2259, 669, 0.9999999999595361), (2266, 2276, 0.9999999930459741), (2276, 618, 0.9999999994827584), (2276, 1442, 0.9999999971839069), (2276, 2266, 0.9999999930459741), (2293, 1659, 0.9999999999482698), (2316, 158, 0.9999999951152019), (2317, 2541, 0.9999999974815136), (2324, 2758, 0.9999999998985), (2335, 1674, 0.9999999986825684), (2350, 2993, 0.9999999949470397), (2365, 2534, 0.9999999995355932), (2376, 1119, 0.999999994998317), (2391, 2768, 0.999999999341959), (2393, 1067, 0.9999999999989757), (2397, 848, 0.9999999994244887), (2399, 1499, 0.9999999988272569), (2401, 2887, 0.9999999950531332), (2404, 1279, 0.9999999997238871), (2410, 2054, 0.9999999998121104), (2417, 1962, 0.9999999998218927), (2419, 2564, 0.999999993638623), (2431, 750, 0.9999999988291063), (2434, 2890, 0.9999999991903913), (2439, 320, 0.999999995173126), (2455, 1168, 0.9999999925522816), (2458, 1421, 0.999999991827411), (2472, 569, 0.9999999994827584), (2491, 816, 0.9999999994244887), (2491, 1904, 0.999999996866661), (2491, 2992, 0.9999999922625709), (2503, 1437, 0.9999999940900975), (2522, 227, 0.9999999982003109), (2531, 267, 0.9999999902820274), (2534, 473, 0.9999999999814237), (2534, 2365, 0.9999999995355932), (2536, 62, 0.9999999970500172), (2541, 2317, 0.9999999974815136), (2544, 799, 0.9999999994244887), (2548, 961, 0.9999999990930195), (2550, 715, 0.9999999988291063), (2557, 876, 0.9999999979120855), (2558, 1202, 0.9999999997238871), (2564, 2419, 0.999999993638623), (2582, 222, 0.9999999999999568), (2582, 1110, 0.9999999999989203), (2582, 1998, 0.9999999999965019), (2582, 2886, 0.9999999999927016), (2586, 867, 0.999999993243496), (2599, 1063, 0.9999999967286067), (2601, 862, 0.999999993243496), (2607, 2778, 0.9999999969190185), (2612, 1656, 0.9999999993839149), (2632, 1802, 0.999999996866661), (2637, 612, 0.9999999914573485), (2669, 2714, 0.9999999991146687), (2687, 524, 0.9999999960914796), (2697, 329, 0.9999999923402456), (2701, 1949, 0.9999999945823146), (2703, 752, 0.9999999994244887), (2704, 443, 0.9999999985315368), (2710, 288, 0.999999995173126), (2714, 2669, 0.9999999991146687), (2717, 1937, 0.9999999998641335), (2731, 2233, 0.9999999912979604), (2746, 57, 0.9999999998635031), (2746, 133, 0.99999999925685), (2746, 209, 0.9999999981648745), (2746, 285, 0.9999999965875765), (2746, 361, 0.9999999945249561), (2746, 437, 0.9999999919770133), (2750, 663, 0.9999999988291063), (2754, 586, 0.9999999914573485), (2758, 2324, 0.9999999998985), (2762, 509, 0.9999999957263056), (2768, 2391, 0.999999999341959), (2769, 1336, 0.9999999995198774), (2778, 2607, 0.9999999969190185), (2790, 1401, 0.9999999986825684), (2796, 2069, 0.9999999976377419), (2802, 1395, 0.9999999986825684), (2805, 650, 0.9999999988291063), (2807, 241, 0.9999999968696842), (2821, 868, 0.9999999990930195), (2831, 1859, 0.9999999998641335), (2837, 2957, 0.9999999988592028), (2841, 2219, 0.9999999961980565), (2842, 1229, 0.999999991827411), (2855, 91, 0.9999999980220771), (2857, 1331, 0.9999999939052725), (2875, 2991, 0.9999999955025535), (2876, 417, 0.9999999977965826), (2880, 271, 0.999999995173126), (2884, 1138, 0.9999999971839069), (2886, 2582, 0.9999999999927016), (2887, 1029, 0.9999999990913918), (2887, 2401, 0.9999999950531332), (2890, 2434, 0.9999999991903913), (2913, 733, 0.999999994405293), (2920, 982, 0.9999999925522816), (2951, 194, 0.9999999982003109), (2957, 2837, 0.9999999988592028), (2967, 1388, 0.999999991068884), (2968, 1598, 0.999999996866661), (2978, 1032, 0.9999999952879379), (2984, 891, 0.999999994998317), (2986, 1518, 0.99999999798736), (2991, 2875, 0.9999999955025535), (2992, 2491, 0.9999999922625709), (2993, 2350, 0.9999999949470397), (2994, 1793, 0.9999999963905805)]
Time: 3.119347333908081

In [ ]:
import math
import time
from multiprocessing import Pool

# определяем функцию для вычисления синуса произведения пары чисел
def sin_prod(pair):
    i, j = pair
    prod = i * j
    sin_prod = math.sin(prod)
    return (i, j, sin_prod)

# засекаем время выполнения
start_time = time.time()

# создаем список всех возможных пар чисел от 1 до 3000
pairs = [(i, j) for i in range(1, 3001) for j in range(1, 3001)]

# создаем пул процессов
with Pool() as pool:
    # распределяем вычисления по нескольким процессам
    results = pool.map(sin_prod, pairs)
    # фильтруем результаты по условию
    results = [result for result in results if result[2] > 0.99999999]

# выводим результат и время выполнения
print("Results:", results)
print("Time:", time.time() - start_time)

 Напишите функцию, которая принимает на вход два списка случайно сгенерированных целых чисел,каждый размера N, и возвращает новый список, в котором каждый элемент является суммой соответствующих элементов во входных списках. 

Например, если входными списками являются [1, 2, 3] и [4, 5, 6], функция должна вернуть [5, 7, 9].

Затем напишите функцию, скомпилированную с помощью Numba, которая выполняет ту же задачу, и сравните время выполнения обеих функций. Сравните скорость при различных N и сделайте вывод.

In [2]:
def sum_lists(lst1, lst2):
    result = []
    for i in range(len(lst1)):
        result.append(lst1[i] + lst2[i])
    return result

In [3]:
from numba import jit

@jit(nopython=True)
def sum_lists_numba(lst1, lst2):
    result = []
    for i in range(len(lst1)):
        result.append(lst1[i] + lst2[i])
    return result

In [6]:
N = 10000
lst1 = [random.randint(0, 100) for _ in range(N)]
lst2 = [random.randint(0, 100) for _ in range(N)]

# засекаем время выполнения обычной функции
start_time = time.time()
result = sum_lists(lst1, lst2)
print("Python function time:", time.time() - start_time)

# засекаем время выполнения функции с Numba
start_time = time.time()
result_numba = sum_lists_numba(lst1, lst2)
print("Numba function time:", time.time() - start_time)

# проверяем, что результаты совпадают
assert result == result_numba

Python function time: 0.00099945068359375

C:\Users\lana\anaconda3\lib\site-packages\numba\core\ir_utils.py:2152: NumbaPendingDeprecationWarning:
Encountered the use of a type that is scheduled for deprecation: type 'reflected list' found for argument 'lst1' of function 'sum_lists_numba'.

For more information visit https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-reflection-for-list-and-set-types

File "..\..\AppData\Local\Temp\ipykernel_4288\2484347037.py", line 3:
<source missing, REPL/exec in use?>

  warnings.warn(NumbaPendingDeprecationWarning(msg, loc=loc))
C:\Users\lana\anaconda3\lib\site-packages\numba\core\ir_utils.py:2152: NumbaPendingDeprecationWarning:
Encountered the use of a type that is scheduled for deprecation: type 'reflected list' found for argument 'lst2' of function 'sum_lists_numba'.

For more information visit https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-reflection-for-list-and-set-types

File "..\..\AppData\Local\Temp\ipykernel_4288\2484347037.py", line 3:
<source missing, REPL/exec in use?>

  warnings.warn(NumbaPendingDeprecationWarning(msg, loc=loc))

Numba function time: 0.2350788116455078

Создайте нулевой вектор размера 10

In [7]:
import numpy as np

zero_vector = np.zeros(10)
print(zero_vector)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

 Напишите функцию Python, которая вычисляет скалярное произведение двух больших массивов со случайно сгенерированными значениями (например, по N = 10 000 000 элементов в каждом) и возвращает результат. Затем напишите функцию, скомпилированную с помощью Numba, которая выполняет ту же задачу, и сравните время выполнения обеих функций. Сравните скорость при N = 100 и сделайте вывод.

In [8]:
import numpy as np
import time

# генерируем два массива случайных чисел
N = 10000000
arr1 = np.random.rand(N)
arr2 = np.random.rand(N)

# засекаем время выполнения обычной функции
start_time = time.time()
result = np.dot(arr1, arr2)
print("Python function time:", time.time() - start_time)

# засекаем время выполнения функции с Numba
from numba import jit

@jit(nopython=True)
def dot_product_numba(arr1, arr2):
    result = 0.0
    for i in range(len(arr1)):
        result += arr1[i] * arr2[i]
    return result

start_time = time.time()
result_numba = dot_product_numba(arr1, arr2)
print("Numba function time:", time.time() - start_time)

# проверяем, что результаты совпадают
assert np.isclose(result, result_numba)

Python function time: 0.08034348487854004
Numba function time: 0.11402606964111328

In [9]:
import numpy as np
import time

# генерируем два массива случайных чисел
N = 100
arr1 = np.random.rand(N)
arr2 = np.random.rand(N)

# засекаем время выполнения обычной функции
start_time = time.time()
result = np.dot(arr1, arr2)
print("Python function time:", time.time() - start_time)

# засекаем время выполнения функции с Numba
from numba import jit

@jit(nopython=True)
def dot_product_numba(arr1, arr2):
    result = 0.0
    for i in range(len(arr1)):
        result += arr1[i] * arr2[i]
    return result

start_time = time.time()
result_numba = dot_product_numba(arr1, arr2)
print("Numba function time:", time.time() - start_time)

# проверяем, что результаты совпадают
assert np.isclose(result, result_numba)

Python function time: 0.0
Numba function time: 0.06552696228027344

 Создайте массив 10x10 со случайными значениями и найдите минимальное и максимальное значения

In [10]:
import numpy as np

# создаем массив 10x10 со случайными значениями
arr = np.random.rand(10, 10)
print(arr)

# находим минимальное и максимальное значения
min_val = np.min(arr)
max_val = np.max(arr)

print("Minimum value:", min_val)
print("Maximum value:", max_val)

[[0.83159232 0.79576067 0.92110258 0.0377737  0.95523748 0.92266307
  0.04074543 0.91756732 0.78008159 0.46462201]
 [0.12782385 0.38589475 0.80129144 0.04809397 0.49066192 0.41412778
  0.58254325 0.82493299 0.75829229 0.50901524]
 [0.94172757 0.7272229  0.14321822 0.44774087 0.14819916 0.3907714
  0.30696547 0.12904412 0.37540028 0.5774104 ]
 [0.19980788 0.31624019 0.4986358  0.15022531 0.97332552 0.68795594
  0.28805509 0.37046204 0.08002603 0.12538395]
 [0.13546681 0.59031719 0.27841126 0.10542585 0.2031544  0.35649138
  0.38601917 0.91717859 0.40538826 0.18200328]
 [0.29483692 0.97509699 0.98359276 0.37320765 0.48793011 0.98780069
  0.40078561 0.29716058 0.33819689 0.26362764]
 [0.64254636 0.60573685 0.80381518 0.68428992 0.75731481 0.98535273
  0.56313717 0.54934687 0.6301305  0.19695475]
 [0.20863712 0.98475645 0.52011054 0.99863069 0.50843808 0.24296232
  0.15707556 0.92715107 0.74886923 0.94294016]
 [0.92228422 0.36507193 0.34911536 0.31427033 0.52352539 0.76585792
  0.4134447  0.76834725 0.07661445 0.58450099]
 [0.92869742 0.24958292 0.93022102 0.4038074  0.06703705 0.37764172
  0.70036287 0.2703507  0.46095871 0.55014457]]
Minimum value: 0.03777369626141713
Maximum value: 0.9986306899832432

### Датасет: Chinook_Sqlite.sqlite

 С помощью кода на Python с использованием sqlite3 и SQL решить задачу. Реализовать функции на Python:
1. Которая возвращает всех имеющихся артистов. 
2. Которая по имени артиста возвращает все его альбомы с количеством треков в них

In [11]:
import sqlite3
import pandas as pd
con = sqlite3.connect('Chinook_sqlite.sqlite') # Открываем базу данных 
cur = con.cursor() # Создаем объект-курсор
def all_artists(cur):
    query_1 = '''
    select *
    from artist
    '''
    cur.execute(query_1) # выполняем запрос
    fa = cur.fetchall() # возвращает список всех записей из результата запроса
    colnames = [i[0] for i in cur.description] #cursor.description предоставляет имена столбцов последнего запроса
    result = pd.DataFrame(fa,columns= colnames)
    return result

all_artists(cur)

     ArtistId                                               Name
0           1                                              AC/DC
1           2                                             Accept
2           3                                          Aerosmith
3           4                                  Alanis Morissette
4           5                                    Alice In Chains
..        ...                                                ...
270       271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271       272                             Emerson String Quartet
272       273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273       274                                      Nash Ensemble
274       275                              Philip Glass Ensemble

[275 rows x 2 columns]

In [20]:
def albums(cur, artist_name):
    query_1 = f'''
        SELECT Album.title, COUNT(Track.TrackId) AS tracks_count
        FROM Artist
        JOIN Album ON artist.artistid = album.artistid
        JOIN track ON album.albumid = track.albumid
        WHERE artist.name = '{artist_name}'
        GROUP BY album.albumid;
    '''

    cur.execute(query_1) # выполняем запрос
    fa = cur.fetchall() # возвращает список всех записей из результата запроса
    colnames = [i[0] for i in cur.description] #cursor.description предоставляет имена столбцов последнего запроса
    result = pd.DataFrame(fa,columns= colnames)
    return result

albums(cur, 'Accept')

               Title  tracks_count
0  Balls to the Wall             1
1  Restless and Wild             3

 С помощью кода на Python с использованием sqlite3 и SQL решить задачу. Реализовать функции на Python:
1. Которая возвращает все имеющиеся плейлисты. 
2. Которая по имени плейлиста возвращает количество треков в нем и их суммарную продолжительность.

In [22]:
import sqlite3
import pandas as pd
con = sqlite3.connect('Chinook_sqlite.sqlite') # Открываем базу данных 
cur = con.cursor() # Создаем объект-курсор
def all_playlists(cur):
    query_1 = '''
    select *
    from playlist
    '''
    cur.execute(query_1) # выполняем запрос
    fa = cur.fetchall() # возвращает список всех записей из результата запроса
    colnames = [i[0] for i in cur.description] #cursor.description предоставляет имена столбцов последнего запроса
    result = pd.DataFrame(fa,columns= colnames)
    return result

all_playlists(cur)

    PlaylistId                        Name
0            1                       Music
1            2                      Movies
2            3                    TV Shows
3            4                  Audiobooks
4            5                  90’s Music
5            6                  Audiobooks
6            7                      Movies
7            8                       Music
8            9                Music Videos
9           10                    TV Shows
10          11             Brazilian Music
11          12                   Classical
12          13   Classical 101 - Deep Cuts
13          14  Classical 101 - Next Steps
14          15  Classical 101 - The Basics
15          16                      Grunge
16          17         Heavy Metal Classic
17          18                 On-The-Go 1

In [37]:
def albums(cur, playlist_name):
    query_1 = f'''
        SELECT playlist.name, COUNT(playlisttrack.trackId) AS tracks_count, sum(track.milliseconds)
        FROM playlist
        JOIN playlisttrack ON playlist.playlistid = playlisttrack.playlistid
        JOIN track ON playlisttrack.trackid = track.trackid
        WHERE playlist.name = '{playlist_name}'
        GROUP BY playlist.playlistid;
    '''

    cur.execute(query_1) # выполняем запрос
    fa = cur.fetchall() # возвращает список всех записей из результата запроса
    colnames = [i[0] for i in cur.description] #cursor.description предоставляет имена столбцов последнего запроса
    result = pd.DataFrame(fa,columns= colnames)
    return result

albums(cur, 'Classical')

        Name  tracks_count  sum(track.milliseconds)
0  Classical            75                 21770592

 С помощью кода на Python с использованием sqlite3 и SQL решить задачу. Реализовать функции на Python:
1. Которая по имени исполнителя возвращает все его альбомы. 
2. Которая по имени исполнителя и имени альбома возвращает количество треков в альбоме и их суммарную продолжительность.

In [38]:
def albums(cur, artist_name):
    query_1 = f'''
        SELECT Album.title
        FROM Artist
        JOIN Album ON artist.artistid = album.artistid
        WHERE artist.name = '{artist_name}'
    '''

    cur.execute(query_1) # выполняем запрос
    fa = cur.fetchall() # возвращает список всех записей из результата запроса
    colnames = [i[0] for i in cur.description] #cursor.description предоставляет имена столбцов последнего запроса
    result = pd.DataFrame(fa,columns= colnames)
    return result

albums(cur, 'Accept')

               Title
0  Balls to the Wall
1  Restless and Wild

In [41]:
def albums(cur, artist_name, album_name):
    query_1 = f'''
        SELECT Album.title, COUNT(Track.TrackId) AS tracks_count, sum(track.milliseconds)
        FROM Artist
        JOIN Album ON artist.artistid = album.artistid
        JOIN track ON album.albumid = track.albumid
        WHERE artist.name = '{artist_name}' and album.title = '{album_name}'
        GROUP BY album.albumid;
    '''

    cur.execute(query_1) # выполняем запрос
    fa = cur.fetchall() # возвращает список всех записей из результата запроса
    colnames = [i[0] for i in cur.description] #cursor.description предоставляет имена столбцов последнего запроса
    result = pd.DataFrame(fa,columns= colnames)
    return result

albums(cur, 'Accept', 'Restless and Wild')

               Title  tracks_count  sum(track.milliseconds)
0  Restless and Wild             3                   858088

### Датасет: addres-book-q.xml 
По данным из файла addres-book-q.xml сформировать словарь, в котором по должности можно получить список людей с данной должностью и для каждого человека по соответствующему ключу можно получить имя, компанию и список всех доступных телефонов. Сохранить данную структуру данных в файл формата json и прочитать ее, показав идентичность структуры данных после сохранения/загрузки.

In [55]:
import json
from bs4 import BeautifulSoup
content = open("./data/data/addres-book-q.xml","r").read()
soup = BeautifulSoup(content,'xml')

result_list = []
i = 1
for person in soup.find_all('address'):
    result_list.append(
        {   'id': i,
            'name': person.find('name').next,
            'position': person.position.next,
            'company': person.company.next,
            'phones': [{phones['type']: phones.next} for phones in person.phones.find_all("phone")],
        }
    )  
    i +=1
result_list

[{'id': 1,
  'name': 'Aicha Barki',
  'position': 'Presidente',
  'company': "Association Algerienne d'Alphabetisation Iqraa",
  'phones': [{'work': '+ (213) 6150 4015'},
   {'personal': '+ (213) 2173 5247'}]},
 {'id': 2,
  'name': 'Francisco Domingos',
  'position': 'Directeur General',
  'company': 'Institut National de Education des Adultes',
  'phones': [{'work': '+ (244-2) 325 023'},
   {'personal': '+ (244-2) 325 023'}]},
 {'id': 3,
  'name': 'Maria Luisa',
  'position': 'Directrice Nationale',
  'company': 'Institut National de Education des Adultes',
  'phones': [{'personal': '+ (244) 4232 2836'}]},
 {'id': 4,
  'name': 'Abraao Chanda',
  'position': 'Chef',
  'company': 'Institut National de Education des Adultes',
  'phones': [{'work': '+ (244-2) 325 023'},
   {'personal': '+ (244-2) 325 023'}]},
 {'id': 5,
  'name': 'Beatriz Busaniche',
  'position': 'Executive Director',
  'company': 'Universidad de Buenos Aires',
  'phones': [{'work': '+ (54-11) 4784 1159'}]},
 {'id': 6,
  'name': 'Francesca Beddie',
  'position': 'Executive Director',
  'company': 'Adult Learning Australia',
  'phones': [{'work': '+ (61-2) 6274 9500'},
   {'personal': '+ (61-2) 6274 9513'}]},
 {'id': 7,
  'name': 'Graham John Smith',
  'position': 'Secretary',
  'company': 'Disability Australia Ltd',
  'phones': [{'work': '+ (61-3) 9807 4702'}]}]

In [56]:
position_list = [d for d in result_list if d['position'] == 'Executive Director']
position_list

[{'id': 5,
  'name': 'Beatriz Busaniche',
  'position': 'Executive Director',
  'company': 'Universidad de Buenos Aires',
  'phones': [{'work': '+ (54-11) 4784 1159'}]},
 {'id': 6,
  'name': 'Francesca Beddie',
  'position': 'Executive Director',
  'company': 'Adult Learning Australia',
  'phones': [{'work': '+ (61-2) 6274 9500'},
   {'personal': '+ (61-2) 6274 9513'}]}]

In [58]:
id_list = [d for d in result_list if d['id'] == 4]
id_list

[{'id': 4,
  'name': 'Abraao Chanda',
  'position': 'Chef',
  'company': 'Institut National de Education des Adultes',
  'phones': [{'work': '+ (244-2) 325 023'},
   {'personal': '+ (244-2) 325 023'}]}]

In [49]:
with open('address-book-from-xml.json', mode='w', encoding='utf-8') as f:
    json.dump(result_list, f)

In [59]:
with open('address-book-from-xml.json', 'r', encoding='utf-8') as f: # открываем файл на чтение
    check = json.load(f)
check

[{'name': 'Aicha Barki',
  'email': 'aiqraa.asso@caramail.com',
  'position': 'Presidente',
  'company': "Association Algerienne d'Alphabetisation Iqraa",
  'phones': [{'work': '+ (213) 6150 4015'},
   {'personal': '+ (213) 2173 5247'}]},
 {'name': 'Francisco Domingos',
  'email': 'frandomingos@hotmail.com',
  'position': 'Directeur General',
  'company': 'Institut National de Education des Adultes',
  'phones': [{'work': '+ (244-2) 325 023'},
   {'personal': '+ (244-2) 325 023'}]},
 {'name': 'Maria Luisa',
  'email': 'luisagrilo@ebonet.net',
  'position': 'Directrice Nationale',
  'company': 'Institut National de Education des Adultes',
  'phones': [{'personal': '+ (244) 4232 2836'}]},
 {'name': 'Abraao Chanda',
  'email': 'ineda@snet.co.ao',
  'position': 'Chef',
  'company': 'Institut National de Education des Adultes',
  'phones': [{'work': '+ (244-2) 325 023'},
   {'personal': '+ (244-2) 325 023'}]},
 {'name': 'Beatriz Busaniche',
  'email': 'busaniche@caminandoutopias.org.ar',
  'position': 'Executive Director',
  'company': 'Universidad de Buenos Aires',
  'phones': [{'work': '+ (54-11) 4784 1159'}]},
 {'name': 'Francesca Beddie',
  'email': 'f.beddie@ala.asn.au',
  'position': 'Executive Director',
  'company': 'Adult Learning Australia',
  'phones': [{'work': '+ (61-2) 6274 9500'},
   {'personal': '+ (61-2) 6274 9513'}]},
 {'name': 'Graham John Smith',
  'email': 'grasm@connexus.net.au',
  'position': 'Secretary',
  'company': 'Disability Australia Ltd',
  'phones': [{'work': '+ (61-3) 9807 4702'}]}]

### Датасет: all_k.zip

 Подсчитать, сколько раз в текстовых файлах, лежащих в all_k.zip, встречаются предложения трех видов: вопросительные (в окончании имеют вопросительный знак), побудительные (в окончании имеют восклицательный знак и не имеют вопросительного) и повествовательные (в окончании имеют точку или троеточие, при этом нужно исключить учет точек, встречающихся в сокращениях, таких как ""т.к."").
Выполнить задание с использованием Dask (корректным!), распараллелив процесс обработки данных (использование Dask должно приводить к истинной параллельной обработке данных).

In [29]:
import dask.bag as db
import re

# функция для подсчета количества вопросительных, побудительных и повествовательных предложений
def count_sentences(text):
    sentences = re.findall(r'\b\w[^.?!]*[.?!]', text)
    question_count = len([s for s in sentences if s.endswith('?')])
    exclamation_count = len([s for s in sentences if s.endswith('!') and not s.endswith('?')])
    narrative_count = len([s for s in sentences if s.endswith('.') or s.endswith('...')])
    return (question_count, exclamation_count, narrative_count)

# создаем dask.bag из всех текстовых файлов в папке all_k
bag = db.read_text('./data/data/all_k/*.txt', encoding = 'windows-1251')

# применяем функцию count_sentences к каждому файлу и получаем список кортежей с результатами
results = bag.map(count_sentences).compute()

# суммируем результаты для всех файлов
total_questions = sum([r[0] for r in results])
total_exclamations = sum([r[1] for r in results])
total_narratives = sum([r[2] for r in results])

# выводим результаты
print('Количество вопросительных предложений:', total_questions)
print('Количество побудительных предложений:', total_exclamations)
print('Количество повествовательных предложений:', total_narratives)

Количество вопросительных предложений: 4002
Количество побудительных предложений: 1677
Количество повествовательных предложений: 35610

 Подсчитать, сколько раз встречается каждая из заглавных русских букв в текстовых файлах, лежащих в all_k.zip. 
Выполнить задание с использованием Dask (корректным!), распараллелив процесс обработки данных (использование Dask должно приводить к истинной параллельной обработке данных).

In [30]:
import dask.bag as db
import re

# создаем dask.bag из всех текстовых файлов в папке all_k
bag = db.read_text('./data/data/all_k/*.txt', encoding = 'windows-1251')

# функция для подсчета количества каждой заглавной буквы в тексте
def count_letters(text):
    letters = re.findall(r'[А-Я]', text)
    return {letter: letters.count(letter) for letter in set(letters)}

# применяем функцию count_letters к каждому файлу и получаем список словарей с результатами
results = bag.map(count_letters).compute()

# суммируем результаты для всех файлов
total_counts = {}
for result in results:
    for letter, count in result.items():
        if letter in total_counts:
            total_counts[letter] += count
        else:
            total_counts[letter] = count

# выводим результаты
for letter, count in sorted(total_counts.items()):
    print(letter, count)

А 1548
Б 1427
В 4102
Г 2152
Д 3606
Е 996
Ж 156
З 880
И 2141
Й 96
К 4771
Л 1523
М 4694
Н 5433
О 5104
П 3830
Р 1216
С 3719
Т 3036
У 1207
Ф 287
Х 464
Ц 56
Ч 1101
Ш 224
Щ 4
Ы 2
Ь 3
Э 1509
Ю 6
Я 2452

 Подсчитать, сколько раз во всех текстовых файлах, лежащих в all_k.zip, встречаются реплики прямой речи, оформленные в виде диалога (В этом случае каждая реплика начинается с новой строки, перед репликами ставится тире (перед тире возможны различные пробельные символы). Выполнить задание с использованием Dask, распараллелив процесс обработки данных.

In [32]:
import dask.bag as db
import re

# создаем dask.bag из всех текстовых файлов в папке all_k
bag = db.read_text('./data/data/all_k/*.txt', encoding = 'windows-1251')

# функция для подсчета количества реплик прямой речи в тексте
def count_dialogue(text):
    lines = text.split('\n')
    dialogue_lines = [line.strip() for line in lines if re.match(r'^\s*-.*', line)]
    dialogue_count = len(dialogue_lines)
    return dialogue_count

# применяем функцию count_dialogue к каждому файлу и получаем список с результатами
results = bag.map(count_dialogue).compute()

# суммируем результаты для всех файлов
total_count = sum(results)

# выводим результаты
print('Количество реплик прямой речи:', total_count)

Количество реплик прямой речи: 8581

 Подсчитать, сколько раз встречается каждое из личных местоимений в именительном падеже (полный список: я, ты, он, она, оно, мы, вы, они) в текстовых файлах, лежащих в папке: all_k.zip. 
Выполнить задание с использованием Dask (корректным!), распараллелив процесс обработки данных (использование Dask должно приводить к истинной параллельной обработке данных)

In [33]:
import dask.bag as db
import re

# создаем dask.bag из всех текстовых файлов в папке all_k
bag = db.read_text('./data/data/all_k/*.txt', encoding = 'windows-1251')

# функция для подсчета количества каждого личного местоимения в тексте
def count_pronouns(text):
    pronouns = re.findall(r'\b(я|ты|он|она|оно|мы|вы|они)\b', text)
    return {pronoun: pronouns.count(pronoun) for pronoun in set(pronouns)}

# применяем функцию count_pronouns к каждому файлу и получаем список словарей с результатами
results = bag.map(count_pronouns).compute()

# суммируем результаты для всех файлов
total_counts = {}
for result in results:
    for pronoun, count in result.items():
        if pronoun in total_counts:
            total_counts[pronoun] += count
        else:
            total_counts[pronoun] = count

# выводим результаты
for pronoun, count in sorted(total_counts.items()):
    print(pronoun, count)

вы 1036
мы 1558
он 3003
она 1646
они 1278
оно 144
ты 829
я 4078

### Датасет: wine.csv.zip

In [175]:
import zipfile
import pandas as pd

# открываем zip-архив
with zipfile.ZipFile('./data/data/wine.csv.zip', 'r') as zip_ref:
    # извлекаем csv файл из архива
    zip_ref.extractall()

# читаем csv файл в виде pandas.DataFrame
wine = pd.read_csv('winemag-data-130k-v2.csv')

# выводим первые 5 строк для проверки
wine.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

 Как часто каждая страна появляется в датасете wine.csv.zip? Создайте pd.Series сопоставляющую страны количеству отзывов о винах из этой страны.

In [176]:
country_counts = wine['country'].value_counts()
print('Частота появления стран в датасете:')
print(country_counts)

Частота появления стран в датасете:
US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: country, dtype: int64

 Определите среднюю оценку рейтинга для каждого ревьюера (используйте 'taster_name' ,'points')

In [177]:
mean_points_by_taster = wine.groupby('taster_name')['points'].mean()
print('Средняя оценка рейтинга для каждого ревьюера:')
print(mean_points_by_taster)

Средняя оценка рейтинга для каждого ревьюера:
taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

Найти медиану поля points в датасете wine.csv.zip

In [178]:
points_median = wine['points'].median()
print('Медиана поля points:', points_median)

Медиана поля points: 88.0

Подсчитайте количество отзывов, написанных каждым человеком ('taster_name') (используйте groupby).Определите человека, который написал наибольшее количество отзывов в датасете wine.csv.zip.

In [180]:
reviews_by_taster = wine.groupby('taster_name')['description'].count()
max_reviews_taster = reviews_by_taster.idxmax()
print('Человек, который написал наибольшее количество отзывов:', max_reviews_taster)
reviews_by_taster

Человек, который написал наибольшее количество отзывов: Roger Voss

taster_name
Alexander Peartree      415
Anna Lee C. Iijima     4415
Anne Krebiehl MW       3685
Carrie Dykes            139
Christina Pickard         6
Fiona Adams              27
Jeff Jenssen            491
Jim Gordon             4177
Joe Czerwinski         5147
Kerin O’Keefe         10776
Lauren Buzzeo          1835
Matt Kettmann          6332
Michael Schachner     15134
Mike DeSimone           514
Paul Gregutt           9532
Roger Voss            25514
Sean P. Sullivan       4966
Susan Kostrzewa        1085
Virginie Boone         9537
Name: description, dtype: int64

Определите минимальные и максимальные цены на каждый сорт вина ('variety')? Определите название и самый дорогой вид вина.

In [184]:
min_prices = wine.groupby('variety')['price'].min()
max_prices = wine.groupby('variety')['price'].max()
max_price_variety = max_prices.idxmax()
print('Самый дорогой вид вина:', max_price_variety)

Самый дорогой вид вина: Bordeaux-style Red Blend

In [185]:
min_prices

variety
Abouriou       15.0
Agiorgitiko    10.0
Aglianico       6.0
Aidani         27.0
Airen           8.0
               ...
Zinfandel       5.0
Zlahtina       13.0
Zweigelt        9.0
Çalkarası      19.0
Žilavka        15.0
Name: price, Length: 707, dtype: float64

In [186]:
max_prices

variety
Abouriou        75.0
Agiorgitiko     66.0
Aglianico      180.0
Aidani          27.0
Airen           10.0
               ...
Zinfandel      100.0
Zlahtina        16.0
Zweigelt        70.0
Çalkarası       19.0
Žilavka         15.0
Name: price, Length: 707, dtype: float64

Подсчитайте, сколько раз "tropical" и "fruity" встречается в описаниях вина (description) в датасете wine.csv.zip. (Необходимо учесть регистр)

In [187]:
tropical_count = wine['description'].str.contains('tropical').sum()
fruity_count = wine['description'].str.contains('fruity').sum()
print('Количество раз "tropical" встречается в описаниях вина:', tropical_count)
print('Количество раз "fruity" встречается в описаниях вина:', fruity_count)

Количество раз "tropical" встречается в описаниях вина: 3607
Количество раз "fruity" встречается в описаниях вина: 9090

Какое вино является «самой выгодной сделкой»? Определите название вина с самым высоким соотношением баллов к цене в датасете wine.csv.zip.

In [188]:
wine['points_per_price'] = wine['points'] / wine['price']
best_deal_wine = wine.loc[wine['points_per_price'].idxmax(), 'title']
print('Самое выгодное вино:', best_deal_wine)

Самое выгодное вино: Bandit NV Merlot (California)

### Датасет: minutes_n_ingredients_full.hdf5

Считайте датасет recipe из файла minutes_n_ingredients_full.hdf5 в виде dask.array. Укажите аргумент chunks=(100_000, 3) при создании массива. Выведите на экран основную информацию о массиве и вычислите среднее значение по каждому столбцу, кроме первого.

In [191]:
import dask.array as da
import h5py
ffile = h5py.File('./data/data/minutes_n_ingredients_full.hdf5')
print(ffile['recipe'].attrs["description"])
recipes = da.from_array(ffile['recipe'], chunks=(100_000, 3))
print(recipes[1].compute())
recipes

Содержит столбцы id, minutes и n_ingredients из recipes_full.csv
[1089012      23       5]

dask.array<array, shape=(2231637, 3), dtype=int64, chunksize=(100000, 3), chunktype=numpy.ndarray>

In [192]:
for i in range(1, 3):
    print(i, recipes[:, i].mean().compute())

1 1004.2080517575215
2 5.419800800936711

 Считайте датасет recipe из файла minutes_n_ingredients_full.hdf5 в виде dask.array. Укажите аргумент chunks=(100_000, 3) при создании массива. Выведите на экран основную информацию о массиве и выберите рецепты, время выполнения которых меньше медианного значения.

In [193]:
import dask.array as da
import h5py
ffile = h5py.File('./data/data/minutes_n_ingredients_full.hdf5')
print(ffile['recipe'].attrs["description"])
recipes = da.from_array(ffile['recipe'], chunks=(100_000, 3))
print(recipes[1].compute())
recipes

Содержит столбцы id, minutes и n_ingredients из recipes_full.csv
[1089012      23       5]

dask.array<array, shape=(2231637, 3), dtype=int64, chunksize=(100000, 3), chunktype=numpy.ndarray>

In [194]:
med = da.median(recipes[:, 1], axis=0).compute()
recipes[recipes[:, 1] < med, :].compute()

array([[1089012,      23,       5],
       [1428572,       0,       5],
       [1400250,      24,       1],
       ...,
       [1029131,      19,       4],
       [1700703,       1,       1],
       [ 713836,       0,       9]], dtype=int64)

 Считайте датасет recipe из файла minutes_n_ingredients_full.hdf5 в виде dask.array. Укажите аргумент chunks=(100_000, 3) при создании массива. Выведите на экран основную информацию о массиве и создайте массив dask.array из 2 чисел, содержащих ваши предпочтения относительно времени выполнения рецепта и кол-ва ингредиентов. Найдите наиболее похожий (в смысле 𝐿1 ) рецепт из имеющихся в датасете.

In [195]:
import dask.array as da
import h5py
ffile = h5py.File('./data/data/minutes_n_ingredients_full.hdf5')
print(ffile['recipe'].attrs["description"])
recipes = da.from_array(ffile['recipe'], chunks=(100_000, 3))
print(recipes[1].compute())
recipes

Содержит столбцы id, minutes и n_ingredients из recipes_full.csv
[1089012      23       5]

dask.array<array, shape=(2231637, 3), dtype=int64, chunksize=(100000, 3), chunktype=numpy.ndarray>

In [196]:
t = 10
i = 5
my_request = da.from_array([t, i])

In [197]:
diff = my_request - recipes[:, 1:]
diff.compute()
mask = da.abs(diff).sum(axis=1).argmin()
mask.compute()

158

In [198]:
result = recipes[mask].compute()
result

array([2168955,      10,       5], dtype=int64)

 Считайте датасет recipe из файла minutes_n_ingredients_full.hdf5 в виде dask.array. Укажите аргумент chunks=(100_000, 3) при создании массива. Выведите на экран основную информацию о массиве и посчитайте количество каждого из возможных значений кол-ва ингредиентов.

In [199]:
import dask.array as da
import h5py
ffile = h5py.File('./data/data/minutes_n_ingredients_full.hdf5')
print(ffile['recipe'].attrs["description"])
recipes = da.from_array(ffile['recipe'], chunks=(100_000, 3))
print(recipes[1].compute())
recipes

Содержит столбцы id, minutes и n_ingredients из recipes_full.csv
[1089012      23       5]

dask.array<array, shape=(2231637, 3), dtype=int64, chunksize=(100000, 3), chunktype=numpy.ndarray>

In [200]:
values, counts = da.unique(recipes[:, 2], return_counts=True)
# находит уникальные элементы массива и возвращает их в отсортированном массиве
for value, count in zip(values.compute(), counts.compute()):
    print(value, count)

1 222071
2 224158
3 229388
4 234948
5 240720
6 244360
7 247181
8 246747
9 246816
10 22430
11 19094
12 15165
13 11640
14 8284
15 6014
16 4145
17 2793
18 1913
19 1279
20 852
21 529
22 346
23 244
24 178
25 107
26 68
27 55
28 33
29 22
30 20
31 13
32 5
33 4
34 3
35 4
36 1
37 2
38 1
39 1
40 2
43 1

 Считайте датасет recipe из файла minutes_n_ingredients_full.hdf5 в виде dask.array. Укажите аргумент chunks=(100_000, 3) при создании массива. Выведите на экран основную информацию о массиве и найдите максимальную продолжительность рецепта. Ограничьте максимальную продолжительность рецептов сверху значением, равному 75% квантилю.

In [201]:
import dask.array as da
import h5py
ffile = h5py.File('./data/data/minutes_n_ingredients_full.hdf5')
print(ffile['recipe'].attrs["description"])
recipes = da.from_array(ffile['recipe'], chunks=(100_000, 3))
print(recipes[1].compute())
recipes

Содержит столбцы id, minutes и n_ingredients из recipes_full.csv
[1089012      23       5]

dask.array<array, shape=(2231637, 3), dtype=int64, chunksize=(100000, 3), chunktype=numpy.ndarray>

In [202]:
result = da.max(recipes[:, 1]).compute()
result

2147483647

In [203]:
q = recipes.to_dask_dataframe()[1].quantile(0.75).compute()
recipes[recipes[:, 1] > q, 1] = q
result = da.max(recipes[:, 1]).compute()
result

49

### Датасет: titanic.csv

In [152]:
titanic = pd.read_csv("./data/data/titanic.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Сколько мужчин / женщин находилось на борту?

In [153]:
titanic['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?

In [171]:
# определение долей выживших мужчин и женщин
total_passengers = titanic.groupby('Sex')['PassengerId'].count()
survived_passengers = titanic.groupby('Sex')['Survived'].sum()
survival_rates = survived_passengers / total_passengers
print('Доля выживших мужчин:', survival_rates['male'])
print('Доля выживших женщин:', survival_rates['female'])

# проверка того, выживали ли женщины чаще мужчин
survival_by_sex = titanic.groupby(['Sex', 'Survived'])['PassengerId'].count()
survival_rate_female = survival_by_sex['female'][1] / (survival_by_sex['female'][0] + survival_by_sex['female'][1])
survival_rate_male = survival_by_sex['male'][1] / (survival_by_sex['male'][0] + survival_by_sex['male'][1])
if survival_rate_female > survival_rate_male:
    print('Женщины выживали чаще мужчин')
else:
    print('Мужчины выживали чаще женщин')

Доля выживших мужчин: 0.18890814558058924
Доля выживших женщин: 0.7420382165605095
Женщины выживали чаще мужчин

Верно ли, что средний возраст выживших людей выше, чем у не выживших пассажиров?

In [156]:
mean_age_survived = titanic.groupby('Survived')['Age'].mean()
print('Средний возраст выживших:', mean_age_survived[1])
print('Средний возраст не выживших:', mean_age_survived[0])

Средний возраст выживших: 28.343689655172415
Средний возраст не выживших: 30.62617924528302

Найдите самое популярное имя среди пассажиров Титаника мужского пола.

In [165]:
male_names = titanic[titanic['Sex'] == 'male']['Name']
male_first_names = male_names.apply(lambda x: x.split(',')[1].split()[1])
popular_male_name = male_first_names.value_counts().index[0]
print('Самое популярное имя среди мужчин:', popular_male_name)

Самое популярное имя среди мужчин: William

Каковы медиана и стандартное отклонение платежей (Fare)? Округлите до 2 десятичных знаков.

In [166]:
fare_median = titanic['Fare'].median()
fare_std = titanic['Fare'].std()
print('Медиана платежей:', round(fare_median, 2))
print('Стандартное отклонение платежей:', round(fare_std, 2))

Медиана платежей: 14.45
Стандартное отклонение платежей: 49.69

Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?

In [167]:
total_passengers = titanic.groupby('Age')['PassengerId'].count()
survived_passengers = titanic.groupby('Age')['Survived'].sum()
survival_rates_young = survived_passengers[0:30].sum() / total_passengers[0:30].sum()
survival_rates_old = survived_passengers[61:].sum() / total_passengers[61:].sum()
print('Доля выживших моложе 30 лет:', round(survival_rates_young, 2))
print('Доля выживших старше 60 лет:', round(survival_rates_old, 2))

Доля выживших моложе 30 лет: 0.41
Доля выживших старше 60 лет: 0.23

Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса?

In [168]:
pclass_distribution = titanic['Pclass'].value_counts(normalize=True)
print('Распределение Pclass:')
print(pclass_distribution)

Распределение Pclass:
3    0.551066
1    0.242424
2    0.206510
Name: Pclass, dtype: float64

In [169]:
pclass_distribution_male = titanic[titanic['Sex'] == 'male']['Pclass'].value_counts(normalize=True)
pclass_distribution_female = titanic[titanic['Sex'] == 'female']['Pclass'].value_counts(normalize=True)
print('Распределение Pclass для мужчин:')
print(pclass_distribution_male)
print('Распределение Pclass для женщин:')
print(pclass_distribution_female)

Распределение Pclass для мужчин:
3    0.601386
1    0.211438
2    0.187175
Name: Pclass, dtype: float64
Распределение Pclass для женщин:
3    0.458599
1    0.299363
2    0.242038
Name: Pclass, dtype: float64

In [170]:
male_second_class = titanic[(titanic['Sex'] == 'male') & (titanic['Pclass'] == 2)]
count_male_second_class = len(male_second_class)
print('Количество мужчин 2-го класса:', count_male_second_class)

Количество мужчин 2-го класса: 108

### Датасет: reviews_full_mini

 В файлах папки  reviews_full_mini находятся файлы, содержащие информацию об отзывах к рецептам в формате JSON Lines. Отзывы разделены на файлы в зависимости от оценки (например, в файле reviews_1.json находятся отзывы с оценкой 1). Считайте файлы из этого архива в виде dask.bag. Преобразуйте текстовое содержимое файлов в объекты python (с помощью модуля json). Выведите на экран первые 5 элементов полученного bag. Модифицируйте функцию разбора JSON таким образом, чтобы в каждый словарь c информацией об отзыве добавить ключ rating. Значение получите на основе названия файла (см. аргумент include_path), использовав для этого регулярное выражение.
 
 Выполните препроцессинг отзывов:
 
    * привести строки к нижнему регистру
    
    * обрезать пробельные символы в начале и конце строки
    
    * удалите все символы, кроме английских букв и пробелов

In [98]:
def my_loader(data) -> dict:

    json_str, path = data
    file_number = re.findall('reviews_([0-9]).json', path)
    
    if file_number is None or len(file_number) != 1:
        raise ValueError("Не могу извлечь номер файла")
    
    json_obj = json.loads(json_str)
    json_obj["rating"] = int(file_number[0])
    json_obj["date"] = datetime.strptime(json_obj["date"], '%Y-%m-%d')

    return json_obj

def preprocess_review(review):
    # приведение к нижнему регистру
    review = review.lower()
    # удаление пробельных символов в начале и конце строки
    review = review.strip()
    # удаление всех символов, кроме английских букв и пробелов
    review = re.sub(r'[^a-z\s]', '', review)
    return review

data_path = './data'
b_bag = db.read_text(urlpath="./data/data/reviews_full/reviews_*.json", include_path=True).map(my_loader)
b_bag = b_bag.map(lambda x: {k: preprocess_review(v) if k == 'review' else v for k, v in x.items()})

b_bag.take(5)

({'user_id': 2056668,
  'recipe_id': 77845,
  'date': datetime.datetime(2018, 6, 13, 0, 0),
  'review': 'a terrific snack for the boys they gobbled them up such a simple and tasty treat love that they are low calorie but its true you cant just eat one or twothey were so good thanks annacia for another way to serve a easy snack made for zwt v',
  'rating': 1},
 {'user_id': 1098259,
  'recipe_id': 253902,
  'date': datetime.datetime(2020, 4, 1, 0, 0),
  'review': 'i have to say this was very easy i tend to have problems with my crust \nbut not with this recipe  im making pot pies tonight and this recipe \nwas perfect for it thank you',
  'rating': 1},
 {'user_id': 452592,
  'recipe_id': 1775453,
  'date': datetime.datetime(2009, 7, 12, 0, 0),
  'review': 'not a fan',
  'rating': 1},
 {'user_id': 1012958,
  'recipe_id': 892246,
  'date': datetime.datetime(2016, 12, 20, 0, 0),
  'review': 'perfect  and smelled so good while simmering  this made just the right amount for two  pizzas and tasted fabulous  easy too  winner',
  'rating': 1},
 {'user_id': 2074896,
  'recipe_id': 1947864,
  'date': datetime.datetime(2007, 8, 19, 0, 0),
  'review': 'wonderful minestrone soup  i always say that bacon makes everything better and never would have thought to use it to make minestrone soup but it is perfect  i originally thought i would use veggie chicken or beef broth instead of the water but decided to wait and try it with just the flavoring from the bacon and bacon fat good decision  i made a few minor changes based on what i had on hand and dss favorites  i used small bowtie pasta a can of navy beans and then added a can of cut green beans so ds would eat some of the soup  followed the rest as written other then adding more salt pepper and then added some garlic salt for our tastes  really love the freshness and flavor of this soup  thanks for sharing the recipe  made for newest tag game',
  'rating': 1})

 В файлах папки  reviews_full_mini находятся файлы, содержащие информацию об отзывах к рецептам в формате JSON Lines. Отзывы разделены на файлы в зависимости от оценки (например, в файле reviews_1.json находятся отзывы с оценкой 1). Считайте файлы из этого архива в виде dask.bag. Преобразуйте текстовое содержимое файлов в объекты python (с помощью модуля json). Выведите на экран первые 5 элементов полученного bag. Модифицируйте функцию разбора JSON таким образом, чтобы в каждый словарь c информацией об отзыве добавить ключ rating.Рассчитайте среднее значение оценок отзывов с группировкой по месяцам (используйте только методы dask.bag), проверьте результат c использованием dask.dataframe

In [120]:
def my_loader(data) -> dict:

    json_str, path = data
    file_number = re.findall('reviews_([0-9]).json', path)
    
    if file_number is None or len(file_number) != 1:
        raise ValueError("Не могу извлечь номер файла")
    
    json_obj = json.loads(json_str)
    json_obj["rating"] = int(file_number[0])
    json_obj["date"] = datetime.strptime(json_obj["date"], '%Y-%m-%d')

    return json_obj


data_path = './data'
b_bag = db.read_text(urlpath="./data/data/reviews_full/reviews_*.json", include_path=True).map(my_loader)


b_bag.take(5)

({'user_id': 2056668,
  'recipe_id': 77845,
  'date': datetime.datetime(2018, 6, 13, 0, 0),
  'review': "A terrific snack for the boys! They gobbled them up. Such a simple and tasty treat. Love that they are low calorie, but it's true, you can't just eat one, or two....they were so good! Thanks Annacia for another way to serve a easy snack. Made for ZWT3 ~V",
  'rating': 1},
 {'user_id': 1098259,
  'recipe_id': 253902,
  'date': datetime.datetime(2020, 4, 1, 0, 0),
  'review': 'i have to say this was very easy i tend to have problems with my crust \nbut not with this recipe.  I&#039;m making pot pies tonight and this recipe \nwas perfect for it, thank you',
  'rating': 1},
 {'user_id': 452592,
  'recipe_id': 1775453,
  'date': datetime.datetime(2009, 7, 12, 0, 0),
  'review': 'Not a fan.',
  'rating': 1},
 {'user_id': 1012958,
  'recipe_id': 892246,
  'date': datetime.datetime(2016, 12, 20, 0, 0),
  'review': 'Perfect!  And smelled so good while simmering.  This made just the right amount for two 12" pizzas and tasted fabulous.  Easy, too.  Winner!!',
  'rating': 1},
 {'user_id': 2074896,
  'recipe_id': 1947864,
  'date': datetime.datetime(2007, 8, 19, 0, 0),
  'review': "Wonderful minestrone soup!!!  I always say that bacon makes everything better and never would have thought to use it to make minestrone soup, but it is perfect!!!  I originally thought I would use veggie, chicken or beef broth instead of the water, but decided to wait and try it with just the flavoring from the bacon and bacon fat, good decision!!  I made a few minor changes, based on what I had on hand and DS's favorites.  I used small bow-tie pasta, a can of Navy Beans and then added a can of cut green beans so DS would eat some of the soup.  Followed the rest as written, other then adding more salt, pepper and then added some garlic salt for our tastes.  Really love the freshness and flavor of this soup.  Thanks for sharing the recipe.  Made for Newest Tag Game.",
  'rating': 1})

In [137]:
reviews_df = b_bag.to_dataframe()
result = reviews_df.groupby(reviews_df['date'].dt.month)["rating"].mean().compute()
result

date
1     1.0
2     1.0
3     1.0
4     1.0
5     1.0
6     1.0
7     1.0
8     1.0
9     1.0
10    1.0
11    1.0
12    1.0
Name: rating, dtype: float64

In [144]:
# проверка результата с использованием dask.dataframe
df = dd.from_pandas(pd.DataFrame(result), npartitions=1)
print(df.compute())

      rating
date
1        1.0
2        1.0
3        1.0
4        1.0
5        1.0
6        1.0
7        1.0
8        1.0
9        1.0
10       1.0
11       1.0
12       1.0

### Датасет: accounts.*.csv

 В accounts.*.csv найти id, для которого в столбце amount встречается наибольшее количество значений, кратных трем.

In [70]:
import dask.dataframe as dd

# Читаем все файлы в директории, которые соответствуют шаблону
accounts = dd.read_csv("./data/data/accounts/accounts.*.csv", 
                       dtype={"amount": "float64", "id": "int64", "names": "object"})

# Отфильтровываем данные, оставляя только значения, кратные трем
multiples_of_three = accounts[accounts.amount % 3 == 0]

# Группируем данные по ID и считаем количество таких значений
grouped = multiples_of_three.groupby('id').size()

# Ищем ID с наибольшим количеством значений, кратных трем
result_id = grouped.idxmax().compute()

print(f"id, для которого в столбце amount встречается наибольшее количество значений, кратных трем {result_id}")

id, для которого в столбце amount встречается наибольшее количество значений, кратных трем 137

 В accounts.*.csv найти id, для которого в столбце amount встречается наибольшее количество значений, кратных 5 и не кратных 10.

In [88]:
import dask.dataframe as dd

# Читаем все файлы в директории, которые соответствуют шаблону
accounts = dd.read_csv("./data/data/accounts/accounts.*.csv", 
                       dtype={"amount": "float64", "id": "int64", "names": "object"})

# Отфильтровываем данные, оставляя только значения, кратные трем

filtered = accounts[(accounts.amount % 5 == 0) & (accounts.amount % 10 != 0)]
counts = filtered.groupby('id')['amount'].value_counts()
# Группируем данные по ID и считаем количество таких значений
grouped = filtered.groupby('id').size()

# Ищем ID с наибольшим количеством значений, кратных трем
result_id = grouped.idxmax().compute()

print(f"id, для которого в столбце amount встречается наибольшее количество значений, кратных 5 и не кратных 10 {result_id}")

id, для которого в столбце amount встречается наибольшее количество значений, кратных 5 и не кратных 10 137

 В accounts.*.csv найти id, для которого в столбце amount встречается наибольшее количество значений между 1000 и 1500.

In [89]:
import dask.dataframe as dd

# Читаем все файлы в директории, которые соответствуют шаблону
accounts = dd.read_csv("./data/data/accounts/accounts.*.csv", 
                       dtype={"amount": "float64", "id": "int64", "names": "object"})

# Отфильтровываем данные, оставляя только значения, кратные трем

filtered = accounts[(accounts.amount >= 1000) & (accounts.amount <= 1500)]
counts = filtered.groupby('id')['amount'].value_counts()
# Группируем данные по ID и считаем количество таких значений
grouped = filtered.groupby('id').size()

# Ищем ID с наибольшим количеством значений, кратных трем
result_id = grouped.idxmax().compute()

print(f"id, для которого в столбце amount встречается наибольшее количество значений между 1000 и 1500 {result_id}")

id, для которого в столбце amount встречается наибольшее количество значений между 1000 и 1500 473

 В accounts.*.csv найти id, для которого сумма положительных значений в столбце amount наибольшая.

In [71]:
import dask.dataframe as dd

# Читаем все файлы в директории, которые соответствуют шаблону
accounts = dd.read_csv("./data/data/accounts/accounts.*.csv", 
                       dtype={"amount": "float64", "id": "int64", "names": "object"})

# Отфильтровываем данные, оставляя только положительные значения
positive_amounts = accounts[accounts.amount > 0]

# Группируем данные по ID и суммируем amount
grouped = positive_amounts.groupby('id').amount.sum()

# Ищем ID с наибольшей суммой
result_id = grouped.idxmax().compute()

print(f" ID с наибольшей суммой положительных значений в столбце amount {result_id}")

 ID с наибольшей суммой положительных значений в столбце amount 137